.App {
  border:5px solid black;
    width: 220px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
#text {
  margin-bottom: 20px;
  border: 2px solid black;
}
#btn {
  background: black;
  color: white;
  text-decoration: solid;
  border: 1px solid black;
  margin-bottom: 15px;
}